@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #091744;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.team-heading {
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.team-heading p::after {
  content: "";
  background-color: #173b83;
  position: relative;
  top: 5px;
  left: 50%;
  display: block;
  width: 50%;
  height: 5px;
}

.container {
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container .box {
  position: relative;
  width: 200px;
  height: 350px;
  margin: 0px 70px;
}

.container .box .img-box {
  height: 200px;
  width: 200px;
  border: 2px solid #1e90ff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.container .box .img-box img {
  max-width: 120%;
  object-fit: contain;
}

.name,
.role {
  text-align: center;
  text-transform: capitalize;
}
.name {
  margin-top: 20px;
}
.role h3 {
  margin: 10px 0 5px 0;
}
.dots {
  display: flex;
  justify-content: center;
}
.dot {
  text-align: center;
  margin: 0 10px;
  border-radius: 3px;
  background-color: #b2bec3;
  width: 10px;
  height: 10px;
}
